# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Environment Variables
.env

# Node.js / Frontend
node_modules/
dist/
.eslintcache

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
