# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Environment Variables
.env

# Node.js / Frontend
node_modules/
dist/
.eslintcache

# Data & Models (Optional, but usually ignored if large)
stacking_model.pkl

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
